.wy-nav-content {
    max-width: 1240px;
}

.wy-table-responsive TABLE {
    width: 100%;
}

.rst-content .code-block-caption {
    text-align: left;
    font-style: normal;
    background: #f8f8f8;
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #e1e4e5;
    border-bottom: 0px;
    margin-bottom: -2px;
    border-radius: 5px 5px 0px 0px;
    color: #00000045;
}

.rst-content .code-block-caption .headerlink {
    position: absolute;
    padding: 0.5em 0px 0.5em 8px;
    line-height: 1;
    margin-top: -0.5em;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border-bottom: 0px;
    border-top: 0px;
}

#phntm-github-link {
    display: inline-block;
    position: relative;
    /* top: 10px;
    right: 10px; */
    /* position: fixed; */
    color: black;
    margin-left: 50px;
}

.fa-github:before, .icon-github:before {
    content: unset;
}
.fa-github {
    margin-left: 10px;
}

#phntm-github-link .icon {
    display: block;
    position: absolute;
    background-image: url(github-mark.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    width: 30px;
    height: 30px;
    left: -27px;
}

.wy-breadcrumbs-aside A  {
    color: rgba(0, 0, 0, 0.1);
}

.conn-led, .data-led {
    display: block;
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

.conn-led.on {
    background-color: red;
}

.conn-led.flashing-fast {
    animation: conn-led-flashing-fast 600ms infinite linear;
}

@keyframes conn-led-flashing-fast {
    0%, 100% {
        background-color: white;
    }
    16.67% {
        background-color: red;
    }
}

.data-led.short-flash {
    animation: data-led-short-flash 4ms infinite;
}

@keyframes data-led-short-flash {
    0%, 50% {
        background-color: white;
    }
    50.1%, 100% {
        background-color: red;
    }
}

.hidden-heading STRONG {
    font-size: 150%;
    margin-top: 0;
    font-weight: 700;
    font-family: Roboto Slab, ff-tisa-web-pro, Georgia, Arial, sans-serif;
    clear: left;
    display: block;
    margin-top: 24px;
}

.rst-content section ul {
    margin-top: -15px;
}

.rst-content section .js ul {
    margin-top: 0px;
}

.rst-content .align-right {
    margin: 0 0 15px 24px;
}

.rst-content img {
    border-radius: 5px;
}

.rst-content video {
    border-radius: 5px;
    margin-bottom: 24px;
}

img.user-input-ui {
    width: 413px; /* @2x */
}

img.user-input-actions {
    width: 205px; /* @2x */
}

img.service-buttons-editor {
    width: 380px; /* @2x */
    border-radius: 12px;
    margin-bottom: 00px;
}

img.service-custom-widget {
    width: 523px;
    margin-bottom: 20px;
}

img.ui-header {
    width: 437px;
    margin-bottom: 20px !important;
}

img.ui-menu {
    width: 681px;
    margin-bottom: 20px !important;
}

img.ui-graph-view {
    width: 805px;
    margin-bottom: 20px !important;
}

img.ui-services-menu {
    width: 455px;
    margin-bottom: 20px !important;
}

img.ui-introspection {
    width: 50px;
    margin-bottom: 20px;
    background-color: black;
}

img.ui-monkey {
    width: 59px;
    max-width: unset;
    margin: 5px 0px 5px 0px !important;
}

img.ui-message-definition {
    width: 453px;
    margin-bottom: 20px;
}

img.ui-ros-params {
    width: 429px;
    margin-bottom: 20px;
}

img.ui-docker-control {
    width: 514px;
    margin-bottom: 20px;
}

img.widget-scene-view {
    width: 741px;
    margin-bottom: 24px !important;
}

img.widget-battery {
    width: 100%;
    max-width: 741px;
    margin-bottom: 10px !important;
}

img.widget-imu {
    max-width: 967px;
    width: 100%;
    margin-bottom: 10px !important;
}

img.widget-laser {
    max-width: 1068px;
    width: 100%;
    margin-bottom: 10px !important;
}

img.widget-log {
    width: 100%;
    max-width: 968px;
    margin-bottom: 10px !important;
}

img.widget-range {
    width: 100%;
    max-width: 240px;
    margin-bottom: 10px !important;
}

img.widget-system-info {
    width: 100%;
    max-width: 741px;
    margin-bottom: 10px !important;
}

img.widget-bool {
    width: 100%;
    max-width: 577px;
    margin-bottom: 10px !important;
}

img.widget-wifi-map {
    width: 100%;
    max-width: 992px;
    margin-bottom: 10px !important;
}

video.video-panel-widget {
    width: 100%;
    max-width: 743px;
    margin-bottom: 10px !important;
}

video.video-panel-widget-twist {
    width: 100%;
    max-width: 503px;
    margin-bottom: 24px !important;
}

img.widget-world-model-battery {
    width: 100%;
    max-width: 503px;
    margin-bottom: 24px !important;
}

@media (min-width: 1275px) { 
    video.video-panel-widget-twist{
        float: right;
        margin-left: 50px;
    }
    img.widget-world-model-battery{
        float: right;
        margin-left: 50px;
    }
}

video.world-model-widget {
     width: 100%;
    max-width: 926px;
    margin-bottom: 10px !important;
}

/* Slideshow container */
.slideshow .slideshow-container-dots {
    margin-bottom: 24px;
    text-align: center;
}

.slideshow .slideshow-container  {
    position: relative;
    margin: auto;
    width: 741px;
    max-width: 100%;
    margin-bottom: 24px;
}

* {box-sizing:border-box}

/* Hide the images by default */
.slideshow .mySlides {
  display: none;
}

/* Next & previous buttons */
.slideshow .prev, .slideshow .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow .prev:hover, .slideshow .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshow .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.slideshow .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slideshow .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow .active, .slideshow .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideshow .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img.video-encoding {
    margin-bottom: 30px !important;
}

section {
    position: relative;
}

.type-hint {
    position: absolute;
    right: 0px;
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
    color: #80808099;
    font-style: italic;
}

.rst-content TABLE.api-ref-static-attributes TR.row-odd TD {
    background-color: #d9f2f885 !important;
}

.rst-content TABLE.api-ref-instance-attributes TR.row-odd TD {
    background-color: #ffd7f169 !important;
}

.rst-content TABLE.api-ref-events TR.row-odd TD {
    background-color: #fff6c369 !important;
}

.rst-content TABLE.api-ref-instance-attributes A,
.rst-content TABLE.api-ref-methods A  {
    font-style: italic;
}

.rst-content TABLE.api-ref-methods TR.row-odd TD {
    background-color: #fbd8d88f !important;
}

.rst-content TABLE .line-block {
    margin-bottom: 0px;
}

.input-manager-monkeys-wrapper {
    width: 330px;
    float: right;
    margin-left: 20px;
    margin-top: 27px;
}

.rst-content TABLE.input-manager-monkeys {
    
}

.overlay-section H2 {
    margin-bottom: 0px; /* remove gap between headline and src link */
}